body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #b90e00;
    text-align: center;
}

.page-container {
    padding: 20px;
}

.form-header {
    font-size: 18px;
    margin: 20px 0;
}

.form-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    /* or whatever size you want */
    margin: 0 auto;
    /* centers the card */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

.mandatory-note {
    font-size: 14px;
    margin-bottom: 15px;
}

.ambassador-form input,
.ambassador-form select,
.ambassador-form textarea {
    display: block;
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    background-color: #c2b5b5;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
}

.phone-wrapper {
    display: flex;
    gap: 5px;
}

#country-code-select {
    width: 40%;
    background-color: #c2b5b5;
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
}

.ambassador-form textarea {
    resize: none;
    height: 100px;
}

.disclaimer {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.submit-button {
    background-color: red;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.email-info {
    margin-top: 30px;
    font-size: 16px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    margin-top: 25px;
    font-size: 16px;
}

#divider {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}